* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: rgba(255, 255, 255, .8);
  font: 400 16px/26px Ubuntu, Roboto, Arial, Helvetica, sans-serif;
  background-color: #27272a;
}
